{% extends 'quotes/base.html' %}
{% load extract_authors %}

{% block content %}

<div class="author-details ms-5 me-5">
    <h3 class="author-title">{{ author.fullname }}</h3>
    <p><strong>Born:</strong>
        <span class="author-born-date">{{ author.born_date }}</span>
        <span class="author-born-location">{{ author.born_location }}</span>
    </p>
    <p><strong>Description:</strong></p>
    <div class="author-description me-5">
        {{ author.description }}
    </div>

</div>

{% endblock %}